//================================
//  COMPONENT UTILITY
//================================
@use "../global" as *;

#page {
  width: 100%;
  overflow: hidden;
  position: relative;
}


/*********************************************************
	99.	END GLOBAL.SCSS
**********************************************************/
