
// Define media query breakpoints
$breakpoints: (
  "sm": 599px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1500px,
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
